### Assignment 5 (LOOPS)

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [2]:

num = 20
while num >= 1:
    print(num)
    num -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [3]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the 
numbers from 1 to n.

In [4]:

n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number:  23

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

5. Write a program that prompts the user to enter a number n, and then prints all the 
odd numbers between 1 and n.

In [5]:

n = int(input("Enter a number: "))

for i in range(1, n + 1):
    if i % 2 != 0:
        print(i)

Enter a number:  50

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [1]:

for i in range(5):
    print("HBD! Musawir")

HBD! Musawir
HBD! Musawir
HBD! Musawir
HBD! Musawir
HBD! Musawir

7. Write a program that takes a number n as input from the user and generates the first 
n terms of the series formed by squaring the natural numbers.
 
Sample output 
Enter a number: 6 
The first 6 terms of the series are: 
1 4 9 16 25 36

In [8]:

n = int(input("Enter a number: "))
print(f"\nThe first {n} terms of the series are:")
for i in range(1, n + 1):
    print(i ** 2, end=" ")

Enter a number:  25

The first 25 terms of the series are:
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625

8. Write a program that prompts the user to input a number and prints its multiplication 
table.

In [9]:

n = int(input("Enter a number: "))
print(f"\nMultiplication Table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number:  10

Multiplication Table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

9. Write a Python program to print the first 8 terms of an arithmetic progression starting 
with 3 and having a common difference of 4. 
The program should output the following sequence: 
3 7 11 15 19 23 27 31

In [10]:

first_term = 3
difference = 4
print("The first 8 terms of the arithmetic progression are:")
for i in range(8):
    term = first_term + i * difference
    print(term, end=" ")

The first 8 terms of the arithmetic progression are:
3 7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting 
with 2 and having a common ratio of 3. 
The program should output the following sequence: 
2 6 18 54 162 486

In [11]:

first_term = 2
ratio = 3
print("The first 6 terms of the geometric sequence are:")
for i in range(6):
    term = first_term * (ratio ** i)
    print(term, end=" ")

The first 6 terms of the geometric sequence are:
2 6 18 54 162 486

11. Write a program that asks the user for a positive integer value. The program should 
calculate the sum of all the integers from 1 up to the number entered. For example, if 
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [12]:

n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n + 1):
    total += i
print(f"\nThe sum of numbers from 1 to {n} is: {total}")

Enter a positive integer:  18

The sum of numbers from 1 to 18 is: 171

12. write a program that takes a positive integer N as input and calculates the sum of 
the reciprocals of all numbers from 1 up to N. The program should display the final sum.

In [1]:
N = int(input("Enter a positive integer N: "))

reciprocal_sum = 0.0
for i in range(1, N + 1):
    reciprocal_sum += 1 / i
print(f"The sum of reciprocals up to {N} is: {reciprocal_sum}")

Enter a positive integer N:  25

The sum of reciprocals up to 25 is: 3.8159581777535068